<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="dashboard">Blank Page</a>
        <i class="fa fa-circle"></i>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="BlankController">
    <div class="col-md-12">
            <p id="demo"></p>
            <!--IZENDA UI-->
        <div class="izenda-container" id="izenda-root" style="width: 100%; height: 100vh; min-height: 100vh;"></div>
    </div>
</div>

<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script type="text/javascript" src="/izenda/izenda_common.js?db1ebd9b10aa86f1fd76"></script>
<script type="text/javascript" src="/izenda/izenda_locales.js?db1ebd9b10aa86f1fd76"></script>
<script type="text/javascript" src="/izenda/izenda_vendors.js?db1ebd9b10aa86f1fd76"></script>
<script type="text/javascript" src="/izenda/izenda_ui.js?db1ebd9b10aa86f1fd76"></script>
<script type="text/javascript">
        $(document).ready(function () {
            DoIzendaConfig();
            izendaInit(); 
        });
</script>
<script>
        document.getElementById("demo").innerHTML =
        obj.currentUserContext;
        </script>
<!-- END MAIN JS -->