<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN TODO SIDEBAR -->
        <div class="todo-ui">
            <div class="todo-sidebar">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content">
                            <span class="caption-subject font-green bold uppercase">STORES </span>
                            <span class="caption-helper visible-sm-inline-block visible-xs-inline-block">click to view orders list</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn green btn-circle btn-sm todo-projects-config" href="orders#" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">
                                    <i class="fa fa-shopping-cart"></i> &nbsp;
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#orders">
                                            <i class="i"></i> New Order
                                        </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="#orders">
                                            Pending
                                            <span class="badge badge-danger"> 4 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#orders">
                                            Completed
                                            <span class="badge badge-success"> 12 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#orders">
                                            Overdue
                                            <span class="badge badge-warning"> 9 </span>
                                        </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="#orders">
                                            <i class="i"></i> Archived Orders
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body todo-project-list-content">
                        <div class="todo-project-list">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="#orders">
                                        <span class="badge badge-success"> 6 </span> Ace Bicycle Supply
                                    </a>
                                </li>
                                <li>
                                    <a href="#orders">
                                        <span class="badge badge-success"> 2 </span> Year-Round Sports
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#orders">
                                        <span class="badge badge-success badge-active"> 3 </span> Contoso
                                    </a>
                                </li>
                                <li>
                                    <a href="#orders">
                                        <span class="badge badge-default"> 14 </span> Eastside Sporting Goods
                                    </a>
                                </li>
                                <li>
                                    <a href="#orders">
                                        <span class="badge badge-success"> 6 </span> Major Cycling
                                    </a>
                                </li>
                                <li>
                                    <a href="#orders">
                                        <span class="badge badge-success"> 2 </span> World of Bikes
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content">
                            <span class="caption-subject font-blue bold uppercase">POPULAR PRODUCTS </span>
                            <span class="caption-helper visible-sm-inline-block visible-xs-inline-block">click to view orders list</span>
                        </div>
                    </div>
                    <div class="portlet-body todo-project-list-content">
                        <div class="todo-project-list">
                            <ul class="nav nav-pills nav-stacked">
                                <!--IZENDA POPULAR PRODUCTS REPORT PART-->
                                <li id="izenda-part6" style="height:450px;">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content">
                            <span class="caption-subject font-red bold uppercase">OVERSTOCK</span>
                            <span class="caption-helper visible-sm-inline-block visible-xs-inline-block">click to view orders list</span>
                        </div>
                    </div>
                    <div class="portlet-body todo-project-list-content">
                        <div class="todo-project-list">
                            <ul class="nav nav-pills nav-stacked">
                                <!--IZENDA OVERSTOCK PRODUCTS REPORT PART-->
                                <li id="izenda-part7" style="height:450px;">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TODO SIDEBAR -->
            <!-- BEGIN TODO CONTENT -->
            <div class="todo-content">
                <div class="portlet light">
                    <!-- PROJECT HEAD -->
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green hide"></i>
                            <span class="caption-helper">STORE:</span> &nbsp;
                            <span class="caption-subject font-green bold uppercase">CONTOSO</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn green btn-circle btn-sm" href="#orders" data-toggle="dropdown" dropdown-menu-hover data-close-others="true">
                                    MANAGE
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#orders">
                                            <i class="i"></i> New Customer
                                        </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="#orders">
                                            Active Customers
                                            <span class="badge badge-danger"> 568 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#orders">
                                            Inactive Customers
                                            <span class="badge badge-success"> 124 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#orders">
                                            Overdue Invoices
                                            <span class="badge badge-warning"> 9 </span>
                                        </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="#orders">
                                            <i class="i"></i> Customer Report
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end PROJECT HEAD -->
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="caption" style="padding-bottom:15px;"><span class="caption-helper">STORE'S RECENT ORDERS:</span></div>
                                <!--IZENDA RECENT ORDERS PART-->
                                <div id="izenda-part1" style="height:1400px"> </div>
                            </div>
                            <div class="todo-tasklist-devider"> </div>
                            <div class="col-md-8 col-sm-8">
                                <div style="min-height: 600px;">
                                    <form action="#" class="form-horizontal">
                                        <!-- TASK HEAD -->
                                        <div class="form">
                                            <div class="form-group">
                                                <div class="col-md-8 col-sm-8">
                                                    <div class="caption" style="padding-bottom:15px;"><span class="caption-helper">CUSTOMER:</span></div>
                                                    <div class="todo-taskbody-user">
                                                        <img class="todo-userpic pull-left" src="../assets/pages/media/users/avatar6.jpg" width="50px" height="50px">
                                                        <span class="todo-username pull-left">Vanessa Bond <br> Customer ID: 11001</span>
                                                        <button type="button" class="todo-username-btn btn btn-circle btn-default btn-xs">&nbsp;Edit&nbsp;</button>
                                                        <button type="button" class="todo-username-btn btn btn-circle btn-default btn-xs">&nbsp;Open Last Order&nbsp;</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <div class="todo-taskbody-date pull-right">
                                                        <button type="button" class="todo-username-btn btn btn-circle btn-default green">&nbsp; Continue to Products &nbsp;</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <!--IZENDA KPI COMPONENTS-->
                                                <div class="col-sm-3" id="izenda-part4" style="height: 50px;"></div>
                                                <div class="col-sm-3" id="izenda-part3" style="height: 50px;"></div>
                                                <div class="col-sm-3" id="izenda-part2" style="height: 50px;"></div>
                                                <div class="col-sm-3" id="izenda-part5" style="height: 50px;"></div>
                                            </div>
                                            <!-- END TASK HEAD -->
                                            <!-- TASK TITLE -->
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Sales Order Number:</label>
                                                    <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="# SO71950">
                                                </div>
                                            </div>
                                            <!-- TASK DESC -->
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Sales Order Description:</label>
                                                    <textarea class="form-control todo-taskbody-taskdesc" rows="8" placeholder="Order Description..."></textarea>
                                                </div>
                                            </div>
                                            <!-- END TASK DESC -->
                                            <!-- TASK DUE DATE -->
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Sales Order Date:</label>
                                                    <div class="input-icon">
                                                        <i class="fa fa-calendar"></i>
                                                        <input type="text" class="form-control todo-taskbody-due" placeholder="Order Date...">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- TASK TAGS -->
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Tags:</label>
                                                    <input type="text" class="form-control todo-taskbody-tags" placeholder="Tags...">
                                                </div>
                                            </div>
                                            <!-- TASK TAGS -->
                                            <div class="form-actions right todo-form-actions">
                                                <button class="btn btn-circle btn-sm green">Save Changes</button>
                                                <button class="btn btn-circle btn-sm btn-default">Cancel</button>
                                            </div>
                                        </div>
                                        <div class="tabbable-line">
                                            <ul class="nav nav-tabs ">
                                                <li class="active">
                                                    <a href="#orders" data-target="#tab_1" data-toggle="tab"> History </a>
                                                </li>
                                                <li>
                                                    <a href="#orders" data-target="#tab_2" data-toggle="tab"> Comments </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <!--IZENDA ORDER HISTORY REPORT PARTS-->
                                                    <div class="tab-pane active" id="tab_1">
                                                            <div id="izenda-part8" style="height:350px;"> </div>
                                                            <div id="izenda-part9" style="height:350px;"> </div>
                                                        </div>
                                                <div class="tab-pane" id="tab_2">
                                                    <!-- TASK COMMENTS -->
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <ul class="media-list">
                                                                <li class="media">
                                                                    <a class="pull-left" href="#orders">
                                                                        <img class="todo-userpic" src="../assets/pages/media/users/avatar8.jpg" width="27px" height="27px">
                                                                    </a>
                                                                    <div class="media-body todo-comment">
                                                                        <button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp; Reply &nbsp;</button>
                                                                        <p class="todo-comment-head">
                                                                            <span class="todo-comment-username">Christina Aguilar</span> &nbsp;
                                                                            <span class="todo-comment-date">17 Sep 2014 at 2:05pm</span>
                                                                        </p>
                                                                        <p class="todo-text-color"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </p>
                                                                        <!-- Nested media object -->
                                                                        <div class="media">
                                                                            <a class="pull-left" href="#orders">
                                                                                <img class="todo-userpic" src="../assets/pages/media/users/avatar4.jpg" width="27px" height="27px">
                                                                            </a>
                                                                            <div class="media-body">
                                                                                <p class="todo-comment-head">
                                                                                    <span class="todo-comment-username">Charles Puyol</span> &nbsp;
                                                                                    <span class="todo-comment-date">17 Sep 2014 at 4:30pm</span>
                                                                                </p>
                                                                                <p class="todo-text-color"> Thanks so much! </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="media">
                                                                    <a class="pull-left" href="#orders">
                                                                        <img class="todo-userpic" src="../assets/pages/media/users/avatar5.jpg" width="27px" height="27px">
                                                                    </a>
                                                                    <div class="media-body todo-comment">
                                                                        <button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp; Reply &nbsp;</button>
                                                                        <p class="todo-comment-head">
                                                                            <span class="todo-comment-username">Andrew Iniesta</span> &nbsp;
                                                                            <span class="todo-comment-date">18 Sep 2014 at 9:22am</span>
                                                                        </p>
                                                                        <p class="todo-text-color">
                                                                            Cras sit amet nibh libero, in gravida nulla. Scelerisque ante sollicitudin commodo Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate
                                                                            at, tempus viverra turpis.
                                                                            <br>
                                                                        </p>
                                                                    </div>
                                                                </li>
                                                                <li class="media">
                                                                    <a class="pull-left" href="#orders">
                                                                        <img class="todo-userpic" src="../assets/pages/media/users/avatar6.jpg" width="27px" height="27px">
                                                                    </a>
                                                                    <div class="media-body todo-comment">
                                                                        <button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp; Reply &nbsp;</button>
                                                                        <p class="todo-comment-head">
                                                                            <span class="todo-comment-username">Olivia Wilton</span> &nbsp;
                                                                            <span class="todo-comment-date">18 Sep 2014 at 11:50am</span>
                                                                        </p>
                                                                        <p class="todo-text-color">
                                                                            Cras sit amet nibh libero, in gravida nulla. Scelerisque ante sollicitudin commodo Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate
                                                                            at, tempus viverra turpis.
                                                                            <br>
                                                                        </p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- END TASK COMMENTS -->
                                                    <!-- TASK COMMENT FORM -->
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <ul class="media-list">
                                                                <li class="media">
                                                                    <a class="pull-left" href="#orders">
                                                                        <img class="todo-userpic" src="../assets/pages/media/users/avatar4.jpg" width="27px" height="27px">
                                                                    </a>
                                                                    <div class="media-body">
                                                                        <textarea class="form-control todo-taskbody-taskdesc" rows="4" placeholder="Type comment..."></textarea>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <button type="button" class="pull-right btn btn-sm btn-circle green"> &nbsp; Submit &nbsp; </button>
                                                        </div>
                                                    </div>
                                                    <!-- END TASK COMMENT FORM -->
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TODO CONTENT -->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTENT-->
<style>
    .izenda-ChartContainer .izenda-Wrapper {
        background: #FFF !important;
    }

    .izenda {
        background: #FFF !important;
    }
</style>

<script type="text/javascript">
        $(document).ready(function () {
            DoIzendaConfig();
            izendaInitOrders(); 
        });
</script>
